<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title> {% block title %} {% endblock %}Hello, world!</title>
  </head>
  <body>
    <main class="container">
        <a href="#">FlaskApp</a>
        <a href="#">About</a>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</main>
</body>
</html>
